.lang-section-body {
    letter-spacing: 1.5rem;
}

.lang-section {
    margin: 0 4rem;
}

@media screen and (max-width: 640px) {
    .lang-section-body {
        letter-spacing: 1rem;
    }
    .lang-section {
        margin: 0 3rem;
    }
}