.section-body {
    width: 80vw;
    min-width: 60rem;
    margin: auto;
    margin-top: 4rem;
    text-align: left;
    padding: 0 2rem;
}

.section-image {
    height: 20em;
    display: block;
    margin: auto;
    border-radius: 5%;
    margin-bottom: 2rem;
    box-shadow: 0.1em 0.1em 2em;
}

.section-not-first {
    margin-top: 7rem;
}